<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="boardMapper">

	<!-- DB의 BOARD 테이블과 자바의 Board를 서로 매칭 -->
	<resultMap id="boardResultSet" type="board">
		<id column="POST_NO" property="postNo" />
		<result column="WRITER_NO" property="writerNo" />
		<result column="POST_TYPE" property="postType" />
		<result column="CATEGORY" property="category" />
		<result column="TITLE" property="title" />
		<result column="CONTENT" property="content" />
		<result column="CREATED_AT" property="createdAt" />
		<result column="UPDATED_AT" property="updatedAt" />
		<result column="STATUS" property="status" />
		<result column="VIEW_COUNT" property="viewCount" />
		<result column="USER_NAME" property="userName" />
		
		<association property="fileAttachment" javaType="fileAttachment">
			<id column="FILE_NO" property="fileNo" />
			<result column="ORIGIN_NAME" property="originName" />
			<result column="SAVE_NAME" property="saveName" />
			<result column="FILE_PATH" property="filePath" />
		</association>
	</resultMap>

	<resultMap id="fileAttachmentResultSet" type="fileAttachment">
		<result column="TARGET_NO" property="targetNo" />
		<result column="TARGET_TYPE" property="targetType" />
		<result column="CREATED_AT" property="createdAt" />
		<result column="UPDATED_AT" property="updatedAt" />
		<result column="STATUS" property="status" />
		<result column="FILE_LEVEL" property="fileLevel" />
	</resultMap>

	<resultMap id="memberResultSet" type="member">
		<result column="USER_NO" property="userNo" />
		<result column="USER_ID" property="userId" />
		<result column="USER_PWD" property="userPwd" />
		<result column="USER_NAME" property="userName" />
		<result column="PHONE" property="phone" />
		<result column="EMAIL" property="email" />
		<result column="ADDRESS" property="address" />
		<result column="ROLE_CODE" property="roleCode" />
		<result column="STATUS" property="status" />
		<result column="CREATED_AT" property="createdAt" />
		<result column="UPDATED_AT" property="updateAt" />
		<result column="CLASS_NO" property="classNo" />
	</resultMap>




	<!-- resultSet을 활용해 페이징처리(10)적용, 게시글 목록을 조회쿼리문 -->
	<select id="selectBoardList" parameterType="string"
		resultMap="boardResultSet">
		SELECT * FROM(
		SELECT
		B.POST_NO,<!-- 게시글번호 -->
		B.CATEGORY, <!-- 카테고리 -->
		B.TITLE, <!-- 제목 -->
		M.USER_NAME, <!-- 작성자명 -->
		B.VIEW_COUNT, <!-- 조회수 -->
		B.CREATED_AT <!-- 작성일 -->
		FROM BOARD_POST B <!-- 약칭 -->
		JOIN MEMBER M ON (B.WRITER_NO = M.USER_NO)
		<!-- 연관된 데이터 B와 (약칭)M과 조인하여 작성자명(USER_NAME) 가져오기 -->
		WHERE B.STATUS = 'Y'<!-- Y=노출/N 숨김처리 -->
		AND B.POST_TYPE = #{postType}
		ORDER BY B.POST_NO DESC <!-- 오름차순?이엿나 -->
		)
	</select>

	<!-- 게시글 총갯수 쿼리문 -->
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		FROM
		BOARD_POST
		WHERE POST_TYPE = 'POST'
		AND STATUS = 'Y'
	</select>

	<!-- 검색결과의 갯수를 세오는 쿼리문 -->
	<select id="selectSearchCount" parameterType="hashmap"
		resultType="_int">
		SELECT COUNT(*)
		FROM BOARD_POST B
		JOIN MEMBER M ON (B.WRITER_NO =
		M.USER_NO)
		WHERE POST_TYPE = 'POST'
		AND B.STATUS = 'Y'
		<if test="condition1 == 'writer'">
			AND M.USER_NAME LIKE '%' || #{keyword} || '%'
		</if>
		<if test="condition1 == 'title'">
			AND B.TITLE LIKE '%' || #{keyword} || '%'
		</if>
		<if test="condition1 == 'content'">
			AND B.CONTENT LIKE '%' || #{keyword} || '%'
		</if>
		<if test="condition2 == 'admission'">
			AND B.CATEGORY = '입학상담'
		</if>
		<if test="condition2 == 'employment'">
			AND B.CATEGORY = '취업상담'
		</if>
	</select>


	<!-- 자유(A)게시글 등록용 쿼리문 -->
	<insert id="insertBoard" parameterType="board">
		INSERT INTO
		BOARD_POST(POST_NO,
		POST_TYPE,
		TITLE,
		CONTENT,
		WRITER_NO,
		VIEW_COUNT,
		CREATED_AT,
		CATEGORY,
		STATUS)
		VALUES(SEQ_POST_NO.NEXTVAL,
		#{postType},
		#{title},
		#{content},
		#{writerNo},
		#{viewCount},
		SYSDATE,
		'자유',
		'Y')
	</insert>

	<select id="selectBoardWithFile" parameterType="_int"
		resultMap="boardResultSet">
		SELECT B.POST_NO,
           B.TITLE,
           B.POST_TYPE,
           B.WRITER_NO,
           M.USER_NAME,
           B.CREATED_AT,
           B.CONTENT,
           F.FILE_NO,
           F.ORIGIN_NAME,
           F.SAVE_NAME,
           F.FILE_PATH
    FROM BOARD_POST B
    JOIN MEMBER M ON (B.WRITER_NO = M.USER_NO)
    LEFT JOIN (SELECT * FROM (SELECT FILE_NO, TARGET_NO, ORIGIN_NAME, SAVE_NAME, FILE_PATH,
                   ROW_NUMBER() OVER(PARTITION BY TARGET_NO ORDER BY FILE_NO DESC) as rn
            FROM FILE_ATTACHMENT
        ) WHERE rn = 1
    ) F ON (B.POST_NO = F.TARGET_NO)
    WHERE B.POST_NO = #{postNo}
      AND B.STATUS = 'Y'
	</select>
	
	<update id="increaseCount" parameterType="_int">
		UPDATE BOARD_POST
		SET
		VIEW_COUNT = VIEW_COUNT +1
		WHERE POST_NO = #{postNo}
		AND STATUS = 'Y'
	</update>

	<!-- 첨부파일 등록용 쿼리문 -->
	<insert id="insertFileAttachment" parameterType="fileAttachment">
		INSERT INTO
		FILE_ATTACHMENT(FILE_NO,
		TARGET_NO,
		TARGET_TYPE,
		ORIGIN_NAME,
		SAVE_NAME,
		FILE_PATH)
		VALUES(SEQ_FNO.NEXTVAL,
		SEQ_POST_NO.CURRVAL,
		'POST',
		#{originName},
		#{saveName},
		#{filePath})
	</insert>

	<!-- 공지,자유,수강생 카테고리 전체 조회용 쿼리문 -->
	<select id="selectCategoryList" parameterType="String"
		resultMap="boardResultSet">
		SELECT *
		FROM
		BOARD_POST
		WHERE POST_TYPE = #{postType}
		AND
		STATUS = 'Y'
		ORDER BY
		POST_NO DESC
	</select>

	<!-- 공지,자유,수강생 게시글 수정용 쿼리문 -->
	<update id="updateBoard" parameterType="board">
		UPDATE BOARD_POST
		SET
		TITLE = #{title},
		CONTENT = #{content}
		WHERE POST_NO = #{postNo}
		AND
		POST_TYPE = #{postType}
		AND STATUS = 'Y'
	</update>

	<update id="updateFileAttachment" parameterType="fileAttachment">
		UPDATE
		FILE_ATTACHMENT
		SET ORIGIN_NAME = #{originName},
		SAVE_NAME =
		#{saveName},
		UPDATED_AT = SYSDATE
		WHERE FILE_NO = #{fileNo}
	</update>
	<insert id="insertNewFileAttachment"
		parameterType="fileAttachment">
		INSERT INTO FILE_ATTACHMENT(FILE_NO,
		TARGET_NO,
		TARGET_TYPE,
		ORIGIN_NAME,
		SAVE_NAME,
		FILE_PATH,
		CREATED_AT,
		STATUS)
		VALUES(SEQ_FNO.NEXTVAL,
		#{targetNo},
		#{targetType},
		#{originName},
		#{saveName},
		#{filePath},
		SYSDATE,
		'Y')
	</insert>

	<update id="deleteBoard" parameterType="_int">
		UPDATE BOARD_POST
		SET
		STATUS = 'N'
		WHERE POST_NO = #{postNo}
		AND STATUS = 'Y'
	</update>



	<!-- 첨부파일을 조회하는 쿼리문 -->
	<select id="selectFileAttachment" parameterType="_int"
		resultMap="fileAttachmentResultSet">
		SELECT FILE_NO
		, ORIGIN_NAME
		, SAVE_NAME
		, FILE_PATH
		FROM FILE_ATTACHMENT
		WHERE TARGET_NO = #{postNo}
		ORDER BY FILE_NO ASC
	</select>

	<!-- (관리자용)첨부파일 삭제용 쿼리문 -->
	<delete id="admindeleteFileAttachment" parameterType="_int">
		DELETE
		FROM FILE_ATTACHMENT
		WHERE TARGET_NO = #{postNo}
	</delete>

</mapper>