<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="boardMapper">

	<!-- DB의 BOARD 테이블과 자바의 Board를 서로 매칭 -->
	<resultMap id="boardResultSet" type="board">
		<id column="POST_NO" property="postNo" />
		<result column="WRITER_NO" property="writerNo" />
		<result column="POST_TYPE" property="postType" />
		<result column="CATEGORY" property="category" />
		<result column="TITLE" property="title" />
		<result column="CONTENT" property="content" />
		<result column="CREATED_AT" property="createdAt" />
		<result column="UPDATED_AT" property="updatedAt" />
		<result column="STATUS" property="status" />
		<result column="VIEW_COUNT" property="viewCount" />
		<result column="USER_NAME" property="userName" />

		<association property="fileAttachment"
			javaType="fileAttachment">
			<id column="FILE_NO" property="fileNo" />
			<result column="ORIGIN_NAME" property="originName" />
			<result column="SAVE_NAME" property="saveName" />
			<result column="FILE_PATH" property="filePath" />
		</association>
	</resultMap>

	<resultMap id="fileAttachmentResultSet" type="fileAttachment">
		<id column="FILE_NO" property="fileNo" />
		<result column="TARGET_NO" property="targetNo" />
		<result column="TARGET_TYPE" property="targetType" />
		<result column="ORIGIN_NAME" property="originName" />
		<result column="SAVE_NAME" property="saveName" />
		<result column="FILE_PATH" property="filePath" />
		<result column="CREATED_AT" property="createdAt" />
		<result column="UPDATED_AT" property="updatedAt" />
		<result column="STATUS" property="status" />
		<result column="FILE_LEVEL" property="fileLevel" />
	</resultMap>

	<resultMap id="memberResultSet" type="member">
		<result column="USER_NO" property="userNo" />
		<result column="USER_ID" property="userId" />
		<result column="USER_PWD" property="userPwd" />
		<result column="USER_NAME" property="userName" />
		<result column="PHONE" property="phone" />
		<result column="EMAIL" property="email" />
		<result column="ADDRESS" property="address" />
		<result column="ROLE_CODE" property="roleCode" />
		<result column="STATUS" property="status" />
		<result column="CREATED_AT" property="createdAt" />
		<result column="UPDATED_AT" property="updateAt" />
		<result column="CLASS_NO" property="classNo" />
	</resultMap>

	<resultMap id="commentResultSet" type="postComment">
		<result column="COMMENT_NO" property="commentNo" />
		<result column="POST_NO" property="postNo" />
		<result column="WRITER_NO" property="writerNo" />
		<result column="CONTENT" property="content" />
		<result column="CREATED_AT" property="createdAt" />
		<result column="UPDATED_AT" property="updatedAt" />
		<result column="STATUS" property="status" />
		<result column="USER_NAME" property="userName" />
	</resultMap>

	<!-- 게시글 통합관리 -->
	<!-- 게시글 목록 조회리스트 -->
	<select id="selectBoardList" parameterType="string"
		resultMap="boardResultSet">
		SELECT * FROM(
		SELECT
		B.POST_NO,<!-- 게시글번호 -->
		B.CATEGORY, <!-- 카테고리 -->
		B.TITLE, <!-- 제목 -->
		M.USER_NAME, <!-- 작성자명 -->
		B.VIEW_COUNT, <!-- 조회수 -->
		B.CREATED_AT <!-- 작성일 -->
		FROM BOARD_POST B <!-- 약칭 -->
		JOIN MEMBER M ON (B.WRITER_NO = M.USER_NO)
		<!-- 연관된 데이터 B와 (약칭)M과 조인하여 작성자명(USER_NAME) 가져오기 -->
		WHERE B.STATUS = 'Y'<!-- Y=노출/N 숨김처리 -->
		AND B.POST_TYPE = #{postType}
		ORDER BY B.POST_NO DESC
		)
	</select>
	
		<!-- 게시글 총갯수 쿼리문 -->
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD_POST
		WHERE POST_TYPE = #{postType}
	</select>

	<!-- 게시글 목록 조회리스트(검색시) -->
	<select id="searchBoardList" parameterType="hashmap"
								resultMap="boardResultSet">
		SELECT B.POST_NO,
				B.CATEGORY,
				B.TITLE,
				M.USER_NAME,
				B.VIEW_COUNT,
				B.CREATED_AT
			FROM BOARD_POST B
			JOIN MEMBER M ON (WRITER_NO = USER_NO)
			<where>
			B.POST_TYPE = #{postType}
			AND B.STATUS = 'Y'
			
			<if test="condition1 != 'all' and keyword != null and keyword !=''">
			AND
			<choose>
				<when test="condition1 == 'writer'">
					M.USER_NAME
				</when>
				<when test="condition1 == 'title'">
					B.TITLE
				</when>
				<when test="condition1 == 'content'">
					B.CONTENT
				</when>
			</choose>
				LIKE '%' || #{keyword} || '%'	
			</if>				
			<if test="condition2 != null and condition2 != '' and condition2 != 'all'">
				AND B.CATEGORY = #{condition2}
			</if>			
			</where>
			ORDER BY B.POST_NO DESC
	</select>

	<!-- 검색결과의 갯수를 세오는 쿼리문 -->
	<select id="selectSearchCount" parameterType="hashmap"
		resultType="_int">
		SELECT COUNT(*)
		FROM BOARD_POST B
		JOIN MEMBER M ON (B.WRITER_NO =	M.USER_NO)
		<where>
			B.POST_TYPE = #{postType}
			AND B.STATUS = 'Y'
			<if test="condition1 != 'all' and keyword != null and keyword !=''">
			AND
			<choose>
				<when test="condition1 == 'writer'">
				M.USER_NAME
				</when>
				<when test="condition1 == 'title'">
					B.TITLE
				</when>
				<when test="condition1 == 'content'">
					B.CONTENT
				</when>
			</choose>
				LIKE '%' || #{keyword} || '%'	
			</if>				
			<if test="condition2 != null and condition2 != '' and condition2 != 'all'">
				AND B.CATEGORY = #{condition2}
			</if>	
			</where>
	</select>

	<!-- 게시글 등록용 쿼리문 -->
	<insert id="insertBoard" parameterType="board">
		<selectKey keyProperty="postNo" resultType="_int"
			order="BEFORE">
			SELECT SEQ_POST_NO.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO
		BOARD_POST(POST_NO,
		POST_TYPE,
		TITLE,
		CONTENT,
		WRITER_NO,
		VIEW_COUNT,
		CREATED_AT,
		CATEGORY,
		STATUS)
		VALUES(#{postNo},
		#{postType},
		#{title},
		#{content},
		#{writerNo},
		#{viewCount},
		SYSDATE,
		'자유',
		'Y')
	</insert>

	<select id="selectBoard" parameterType="_int"
		resultMap="boardResultSet">
		SELECT B.POST_NO,
		B.TITLE,
		B.POST_TYPE,
		B.WRITER_NO,
		M.USER_NAME,
		B.CREATED_AT,
		B.CONTENT
		FROM BOARD_POST B
		JOIN MEMBER M ON
		(B.WRITER_NO = M.USER_NO)
		WHERE POST_NO = #{postNo}
		AND B.STATUS = 'Y'
	</select>


	<update id="increaseCount" parameterType="_int">
		UPDATE BOARD_POST
		SET
		VIEW_COUNT = VIEW_COUNT +1
		WHERE POST_NO = #{postNo}
		AND STATUS = 'Y'
	</update>

	<!-- 첨부파일 등록용 쿼리문 -->
	<insert id="insertFileAttachment" parameterType="fileAttachment">
		INSERT INTO	FILE_ATTACHMENT(
		FILE_NO,
		TARGET_NO,
		TARGET_TYPE,
		ORIGIN_NAME,
		SAVE_NAME,
		FILE_PATH)
	VALUES(
		SEQ_POST_NO.NEXTVAL,
		#{targetNo},
		#{targetType},
		#{originName},
		#{saveName},
		#{filePath})
	</insert>

	<!-- 공지,자유,수강생 카테고리 전체 조회용 쿼리문 -->
	<select id="selectCategoryList" parameterType="string"
		resultMap="boardResultSet">
		SELECT *
		FROM
		BOARD_POST
		WHERE POST_TYPE = #{postType}
		AND
		STATUS = 'Y'
		ORDER BY
		POST_NO DESC
	</select>

	<!-- 공지,자유,수강생 게시글 수정용 쿼리문 -->
	<update id="updateBoard" parameterType="board">
		UPDATE BOARD_POST
		SET
		TITLE = #{title},
		CONTENT = #{content}
		WHERE POST_NO = #{postNo}
		AND
		POST_TYPE = #{postType}
		AND STATUS = 'Y'
	</update>

	<update id="updateFileAttachment" parameterType="fileAttachment">
		UPDATE
		FILE_ATTACHMENT
		SET ORIGIN_NAME = #{originName},
		SAVE_NAME =
		#{saveName},
		UPDATED_AT = SYSDATE
		WHERE FILE_NO = #{fileNo}
	</update>
	<insert id="insertNewFileAttachment"
		parameterType="fileAttachment">
		INSERT INTO FILE_ATTACHMENT(FILE_NO,
		TARGET_NO,
		TARGET_TYPE,
		ORIGIN_NAME,
		SAVE_NAME,
		FILE_PATH,
		CREATED_AT,
		STATUS)
		VALUES(SEQ_FNO.NEXTVAL,
		#{targetNo},
		#{targetType},
		#{originName},
		#{saveName},
		#{filePath},
		SYSDATE,
		'Y')
	</insert>

	<update id="deleteBoard" parameterType="_int">
		UPDATE BOARD_POST
		SET
		STATUS = 'N'
		WHERE POST_NO = #{postNo}
		AND STATUS = 'Y'
	</update>



	<!-- 첨부파일을 조회하는 쿼리문 -->
	<select id="selectFileAttachment" parameterType="_int"
		resultMap="fileAttachmentResultSet">
		SELECT * FROM (
		SELECT FILE_NO
		, ORIGIN_NAME
		, SAVE_NAME
		,
		FILE_PATH
		FROM FILE_ATTACHMENT
		WHERE TARGET_NO = #{postNo}
		ORDER BY
		FILE_NO DESC
		)
		WHERE ROWNUM = 1
	</select>

	<!-- (관리자용)첨부파일 삭제용 쿼리문 -->
	<delete id="admindeleteFileAttachment" parameterType="_int">
		DELETE
		FROM
		FILE_ATTACHMENT
		WHERE TARGET_NO = #{postNo}
	</delete>

	<select id="selectCommentList" parameterType="_int"
		resultMap="commentResultSet">
		SELECT PC.COMMENT_NO,
		PC.POST_NO,
		M.USER_NAME,
		PC.CONTENT,
		PC.CREATED_AT
		FROM POST_COMMENT PC
		JOIN MEMBER M ON (PC.WRITER_NO =
		M.USER_NO)
		WHERE
		PC.POST_NO = #{postNo}
		AND PC.STATUS = 'Y'
		ORDER BY
		PC.CREATED_AT DESC
	</select>


	<insert id="insertComment" parameterType="postComment">
		INSERT INTO
		POST_COMMENT(
		COMMENT_NO,
		POST_NO,
		CONTENT,
		WRITER_NO,
		CREATED_AT)
		VALUES(SEQ_COMMENT_NO.NEXTVAL,
		#{postNo},
		#{content},
		#{writerNo},
		SYSDATE)

	</insert>



</mapper>