<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">
	
	<resultMap type="board" id="boardResultSet">
		<id column="POST_NO" property="postNo" />
		<result column="ROWNUM" property="rowNum" />
		<result column="CATEGORY" property="category" />
		<result column="TITLE" property="title" />
		<result column="CONTENT" property="content" />
		<result column="USER_NAME" property="postWriter" />
		<result column="CREATED_AT" property="createdAt" />
		<result column="VIEW_COUNT" property="viewCount" />
		<result column="TITLEIMG" property="titleImg"/>
		<result column="STATUS" property="status"/>
	</resultMap>
	
	<resultMap type="fileAttachment" id="fileAttachmentResultSet">
		<id column="FILE_NO" property="fileNo" />
		<result column="ORIGIN_NAME" property="originName" />
		<result column="SAVE_NAME" property="saveName" />
		<result column="FILE_PATH" property="filePath" />
	</resultMap>
	
	<!-- 메인페이지 공지사항 목록 조회용 쿼리문 -->
	<select id="mainPageNoticeList" resultMap="boardResultSet">
		SELECT TITLE
			 , VIEW_COUNT
			 , POST_NO
		  FROM
			(
			SELECT ROWNUM RNUM, A.*
			  FROM
				( 
				SELECT POST_NO
					 , TITLE
					 , VIEW_COUNT
				  FROM BOARD_POST
				 WHERE POST_TYPE = 'NOTICE'
				   AND STATUS = 'Y'
				 ORDER BY POST_NO DESC
				) A
			)
		WHERE RNUM &lt;= 8
	</select>
	
	<!-- 학원 소식의 총 갯수를 구하는 쿼리문 -->
	<select id="selectNewsListCount" resultType="_int">
		SELECT COUNT(*)
		  FROM BOARD_POST
		 WHERE POST_TYPE = 'NEWS'
		   AND STATUS = 'Y'
	</select>
	
	<!-- 학원 소식 목록 조회용 쿼리문 -->
	<select id="selectNewsList" parameterType="hashmap" resultMap="boardResultSet">
		SELECT POST_NO
			 , TITLE
			 , VIEW_COUNT
			 , FILE_PATH || SAVE_NAME AS "TITLEIMG"
			 , B.CREATED_AT
		  FROM BOARD_POST B
		  JOIN FILE_ATTACHMENT ON (POST_NO = TARGET_NO)
		 WHERE POST_TYPE = 'NEWS'
		   AND B.STATUS = 'Y'
		   AND FILE_LEVEL = 1
		 ORDER BY POST_NO DESC
	</select>
	
	<!-- 학원소식 상세조회 하는 쿼리문 -->
	<select id="selectBoard" parameterType="_int" resultMap="boardResultSet">
		SELECT POST_NO
			 , CATEGORY
			 , TITLE
			 , USER_NAME
			 , B.CREATED_AT
			 , CONTENT
		  FROM BOARD_POST B
		  JOIN MEMBER ON (WRITER_NO = USER_NO)
		 WHERE POST_NO = #{postNo}
	</select>
	
	<!-- 첨부파일을 조회하는 쿼리문 -->
	<select id="selectFileAttachment" parameterType="_int" resultMap="fileAttachmentResultSet">
		SELECT FILE_NO
		     , ORIGIN_NAME
		     , SAVE_NAME
		     , FILE_PATH
		  FROM FILE_ATTACHMENT
		 WHERE TARGET_NO = #{postNo}
		 ORDER BY FILE_NO ASC
	</select>
	
	<!-- (관리자용)공지사항 총 갯수를 구하는 쿼리문 -->
	<select id="adminSelectNoticeCount" resultType="_int">
		SELECT COUNT(*)
		  FROM BOARD_POST
		 WHERE POST_TYPE = 'NOTICE'
	</select>
	
	<!-- (관리자용)공지사항 목록 조회용 쿼리문 -->
	<select id="adminSelectNoticeList" resultMap="boardResultSet">
		SELECT *
		  FROM (
			SELECT A.*, ROWNUM
			  FROM (
					SELECT POST_NO
					     , TITLE
						 , USER_NAME
						 , B.CREATED_AT
						 , B.STATUS
					  FROM BOARD_POST B
					  JOIN MEMBER ON (WRITER_NO = USER_NO)
					 WHERE POST_TYPE = 'NOTICE'
					 ORDER BY POST_NO
					) A
				 )
		 ORDER BY ROWNUM DESC 
	</select>
	
	<!-- (관리자용)공지사항 키워드 검색시 총 갯수를 구하는 쿼리문 -->
	<select id="adminSearchNoticeCount" parameterType="string" resultType="_int">
		SELECT COUNT(*)
		  FROM BOARD_POST
		 WHERE POST_TYPE = 'NOTICE'
		   AND TITLE LIKE '%' || #{keyword} || '%'
	</select>
	
	<!-- (관리자용)공지사항 목록 조회용 쿼리문 -->
	<select id="adminSearchNoticeList" parameterType="string" resultMap="boardResultSet">
		SELECT *
		  FROM (
			SELECT A.*, ROWNUM
			  FROM (
					SELECT POST_NO
						 , TITLE
						 , USER_NAME
						 , B.CREATED_AT
						 , B.STATUS
					  FROM BOARD_POST B
					  JOIN MEMBER ON (WRITER_NO = USER_NO)
					 WHERE POST_TYPE = 'NOTICE'
					   AND TITLE LIKE '%' || #{keyword} || '%'
					 ORDER BY POST_NO
					 ) A
			      )
		 ORDER BY ROWNUM DESC 
	</select>
	
	<!-- (관리자용)공지사항 상태 변경용 쿼리문 -->
	<update id="updateNoticeStatus" parameterType="board">
		UPDATE BOARD_POST
		   SET STATUS = #{status}
		 WHERE POST_NO = #{postNo}
	</update>
	
	
	<!-- 게시글, 공지사항, 학원 소식 삭제용 쿼리문 -->
	<delete id="deleteBoard" parameterType="_int">
		DELETE
		  FROM BOARD_POST
		 WHERE POST_NO = #{postNo}
	</delete>
	
	<!-- (관리자용)공지사항 등록용 쿼리문 -->
	<insert id="insertNotice" parameterType="board">
		INSERT INTO BOARD_POST(POST_NO
							 , POST_TYPE
							 , CATEGORY
							 , TITLE
							 , CONTENT
							 , CREATED_AT
							 , WRITER_NO)
						VALUES(SEQ_POST_NO.NEXTVAL
							 , 'NOTICE'
							 , 'NOTICE'
							 , #{title}
							 , #{content}
							 , SYSDATE
							 , #{postWriter})	
	</insert>
	
	<!-- (관리자용)첨부파일 등록용 쿼리문 -->
	<insert id="insertNoticeFileAttachment" parameterType="fileAttachment">
		INSERT INTO FILE_ATTACHMENT(FILE_NO
							 , TARGET_NO
							 , TARGET_TYPE
							 , ORIGIN_NAME
							 , SAVE_NAME
							 , FILE_PATH)
						VALUES(SEQ_FILE_NO.NEXTVAL
							 , SEQ_POST_NO.CURRVAL
							 , 'NOTICE'
							 , #{originName}
							 , #{saveName}
							 , #{filePath})
	</insert>

	<!-- 첨부파일 삭제용 쿼리문 -->
	<delete id="deleteFileAttachment" parameterType="_int">
		DELETE
		  FROM FILE_ATTACHMENT
		 WHERE TARGET_NO = #{postNo}
	</delete>

</mapper>