<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="counselorMapper">
<!--
 counsel_log 테이블 
	 <resultMap id="counselLog" type="counselLog">
	     <id column="LOG_NO" property="logNo" />
	     <result column="RESERVATION_NO" property="reservationNo" />
	     <result column="CONTENT" property="content" />
	     <result column="CREATED_AT" property="createdAt" />
	     <result column="UPDATED_AT" property="updatedAt" />
	     <result column="STATUS" property="status" />
	 </resultMap>
-->  
<!-- class 테이블 -->
    <resultMap id="class" type="class">
	     <id column="CLASS_NO" property="classNo" />
	     <result column="CLASS_NAME" property="className" />
	     <result column="DESCRIPTION" property="description" />
	     <result column="STATUS" property="status" />
	     <result column="CREATED_AT" property="createdAt" />
	     <result column="UPDATED_AT" property="updatedAt" />
    </resultMap>

    <!-- 반의 총갯수를 구하는 쿼리문 -->
    <select id="selectListCount" parameterType="_int">
       SELECT *
         FROM CLASS
         WHERE CLASS_NO
           AND STATUS = 'N'
    </select>
    <!-- 페이징 처리가된 반의 목록을 조회하는 쿼리문 -->
    <!--  <select id="selectClassList" parameterType="hashMap"
                          resultMap="classResultSet"> -->
            <!-- RowBounds 객체 사용 후 쿼리문 - 전체를 조회하되 정렬만 잘해주기!! -->	
		<!-- SELECT CLASS_NO
			 , CLASS_NAME
			 , STATUS
			 , CREATED_AT
			 , UPDATE_AT
		  FROM CLASS
		 WHERE CLASS_NO
		   AND STATUS = 'Y'   	 
            </select>-->

</mapper>