<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
     
     <!-- member테이블 -->
	 <resultMap id="memberResultSet" type="member">
	     <id column="USER_NO" property="userNo" />
	     <result column="USER_ID" property="userId" />
	     <result column="USER_PWD" property="userPwd"/>
	     <result column="USER_NAME" property="userName"/>
	     <result column="PHONE" property="phone"/>
	     <result column="EMAIL" property="email"/>
	     <result column="ADDRESS" property="address"/>
	     <result column="ROLE_CODE" property="roleCode"/>
	     <result column="STATUS" property="status"/>
	     <result column="CREATED_AT" property="createdAt"/>
	     <result column="UPDATED_AT" property="updatedAt"/>
	     <result column="CLASS_NO" property="classNo"/>
	 </resultMap>
	 
	 <!-- member_Lock 테이블 -->
	 <resultMap id="memberLockResultSet" type="memberLock">
	    <id column="USER_NO" property="userNo" />
	     <result column="USER_NAME" property="userName" />
	     <result column="ROLE_CODE" property="roleCode" />
	     <result column="FAIL_COUNT" property="failCount" />
	     <result column="IS_LOCKED" property="isLocked"/>
	     <result column="LOCKED_AT" property="lockedAt"/>
	     <result column="LAST_FAIL_AT" property="lastFailAt"/>
	 </resultMap>
	 
	 <!--  로그인용 쿼리문 -->
	 <select id="loginMember" parameterType="string" 
								  resultMap="memberResultSet">
			<!-- 암호화 작업 후 : 아이디로만 조회 -->
			SELECT *
		      FROM MEMBER 
		     WHERE USER_ID = #{userId}
		       AND STATUS = 'ACTIVE'   
	 </select>
	 
	 <!-- 회원가입용 쿼리문 -->
	<insert id="insertMember" parameterType="member">
		INSERT INTO MEMBER(USER_NO
		                 , USER_ID
		                 , USER_PWD
		                 , USER_NAME
		                 , PHONE
		                 , EMAIL
		                 , ADDRESS)
		            VALUES(SEQ_USER_NO.NEXTVAL
		                 , #{userId}
		                 , #{userPwd}
		                 , #{userName}
		                 , #{phone}
		                 , #{email}
		                 , #{address})
	</insert>
	
	<!-- 회원 정보 변경용 쿼리문 -->
	<update id="updateMember" parameterType="member">
		UPDATE MEMBER
		   SET USER_NAME = #{userName}
		     , USER_PWD = #{userPwd}
		     , PHONE = #{phone}
		     , EMAIL = #{email}
		     , ADDRESS = #{address}
		     , UPDATED_AT = SYSDATE
		 WHERE USER_ID = #{userId}
		   AND STATUS = 'ACTIVE'
	</update>
	
	<!--  아이디찾기용 쿼리문 -->
	 <select id="searchId" parameterType="member" 
	                       resultMap="memberResultSet">
			SELECT *
		      FROM MEMBER
		     WHERE EMAIL  = #{email}
		       AND USER_NAME = #{userName}
		       AND STATUS = 'ACTIVE'   
	 </select>
	 
	 <!--  비밀번호찾기용 쿼리문 -->
	 <select id="searchPassword" parameterType="member" 
								 resultMap="memberResultSet">
			SELECT *
		      FROM MEMBER
		     WHERE USER_ID = #{userId}
		       AND USER_NAME = #{userName}
		       AND EMAIL = #{email}
		       AND STATUS = 'ACTIVE'   
	 </select>
	
	<!-- 회원 탈퇴용 쿼리문 -->
	<update id="deleteMember" parameterType="string">
		UPDATE MEMBER
		   SET STATUS = 'INACTIVE'
		     , UPDATED_AT = SYSDATE
		 WHERE USER_ID = #{userId}
		   AND STATUS = 'ACTIVE'
	</update>
	
	<!-- 아이디 중복 체크용 쿼리문 -->
	<select id="idCheck" parameterType="string" resultType="_int">
	      SELECT COUNT(*)
	        FROM MEMBER
	       WHERE USER_ID = #{checkId}
	</select>
	
	<!-- 이메일 중복 체크용 쿼리문 -->
	<select id="emailCheck" parameterType="string" resultType="_int">
	      SELECT COUNT(*)
	        FROM MEMBER
	       WHERE EMAIL = #{checkEmail}
	</select>
	
	<!-- 계정 잠긴 유저들 조회용 쿼리문 -->
	<select id="selectLockingMemberList" resultMap="memberLockResultSet">
		SELECT USER_NAME
			 , ROLE_CODE
			 , FAIL_COUNT
			 , LOCKED_AT
			 , USER_NO
		  FROM MEMBER M
		  JOIN MEMBER_LOCK L USING (USER_NO)
		 WHERE IS_LOCKED = 'Y'
	</select>
	
	<!-- 계정 잠금 해제용 쿼리문 -->
	<update id="updateMemberUnlock" parameterType="_int">
		UPDATE MEMBER_LOCK
		   SET IS_LOCKED = 'N'
		 WHERE USER_NO = #{userNo}
	</update>
<!-- ___________________________________________________________ -->
	
	
	<!--  로그인용 쿼리문 -->
	<select id="loginLockMember" parameterType="_int" resultMap="memberLockResultSet">
	    SELECT USER_NO
	         , FAIL_COUNT
	         , CASE WHEN (IS_LOCKED = 'N' OR IS_LOCKED = 'Y' AND (SYSDATE > (LOCKED_AT + 10/(24*60))))
	                THEN 'N'
	                ELSE 'Y' END AS IS_LOCKED
	         , LOCKED_AT
	         , LAST_FAIL_AT
	      FROM MEMBER_LOCK
	     WHERE USER_NO = #{userNo}
	</select>

	<!-- 회원가입시 잠금데이터용 쿼리문 -->
	<insert  id="insertMemberLock">
	    INSERT INTO MEMBER_LOCK(USER_NO
		                      , LOCKED_AT
		                      , LAST_FAIL_AT)
		                 VALUES(SEQ_USER_NO.CURRVAL
		                      , NULL
		                      , NULL)
	</insert>
	
	<!-- 로그인실패시 실패횟수증가 쿼리문 -->
	<update  id="increaseFailCount" parameterType="memberLock">
	    UPDATE MEMBER_LOCK
		   SET FAIL_COUNT = #{failCount} 
		     , LAST_FAIL_AT = SYSDATE
		 WHERE USER_NO = #{userNo}
	</update>
	
	<!-- 5회 이상이면 계점잠금 쿼리문 -->
	<update id="lockAccount" parameterType="_int">
	    UPDATE MEMBER_LOCK
	       SET IS_LOCKED = 'Y',
	           LOCKED_AT = SYSDATE
	     WHERE USER_NO = #{userNo}
    </update>
    
    <!-- 로그인성공시 실패횟수 초기화 -->
    <update id="resetFailCount" parameterType="_int">
	    UPDATE MEMBER_LOCK
	       SET FAIL_COUNT = 0,
	           IS_LOCKED = 'N'
	     WHERE USER_NO = #{userNo}
	</update>

</mapper>